body{
    font-family:Arial,sans-serif;
    margin:0;
    padding:0;
    background-color: #f3f3f3;
    color: #333;
}
header{
    background-color: #008080;
    color: white;
    text-align: center;
    padding: 40px 0;
}


.profile-pic{
    width: 180px;
    height: 200px;
    border-radius: 75%;
    border: 3px solid white;
    margin-bottom: 10px;
}
section{
    padding: 20px;
    margin: 10px auto;
    width: 80%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-weight: bold;
}
h2{
    color: #008080;
}
a{
    color: #008080;
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: #008080;
    color: white;
    margin-top: 20px;
}
.skills-container{
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;

}
.skills{
    background-color: #008080;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}
.skills:hover{
    background-color: #006666;
    transform: scale(1.05);
}